 


<h1>Ylläpidon tila</h1>


<h2>Toiminnot</h2>

<div class="admintiedot">
    <ul>
        <li><a href="/add_books">Lisää kirjoja</a></li>

    </ul>
</div>


<h2>Haku</h2>
    <ul>
    <form action="/raporthaku1" method="POST">
        <label for="hakutermi">Hakusana: (tyhjällä kaikki)</label>
        <input type="text" id="hakutermi1" name="hakutermi">
        <input type="submit" value="Hae">
    </form>
 
        <li><a href="/raporthaku2">Hae asiakkaat</a></li>

    </ul>

<h2>Raportit</h2>

<div class="raportit">
    <ul>
        <li><a href='/raport1'>Hae yhteenvetoraportti (R2)</a></li>
         <li><a href='/asiakasraport1'>Hae yhteenvetoraportti asiakkaista(R3)</a></li>
        <li><a href='/asiakasraport1csv'>Hae yhteenvetoraportti asiakkaista csv-muodossa(R3)</a></li>
    </ul>
</div>




 