
<br>
<a href='/adminstate1'>Palaa raporttietusivulle</a>

<h1>Yhteenvetoraportti asiakkaista</h1>
<h3> R3: asiakasraportti, johon on listattu kaikki asiakkaat, sekä näiden viime vuonna ostamien 
teosten lukumäärä. ( CSV-muotoinen) </h3>


<div class="raportti2">

  {{tiedot }}



</div>

