
<h1>RAPORTIT</h1>


<div class="raportit">
    <ul>
        <li><a href='/raport1'>Hae yhteenvetoraportti (R2)</a></li>
        <li>Moi maailma</li>
        <li><a href='/data'>raw data!!!!!!!!!!!!!(csv/ json)</a></li>
    </ul>
</div>
