
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Divari app</title>

  <link rel="stylesheet" type= "text/css" href="../../static/css/basic-styles.css">
  <link rel="stylesheet" type= "text/css" href="../../static/css/layout-style.css">


</head>
<body>
  <h2>Divari</h2>
    <nav>
         
        <ul>
          <li><a href='/main'>Koti</a></li>
          <li><a href='/search'>Haku</a></li>
          <li><a href='/order'>Tilaus</a></li>
          <li><a href='/add_books'>Lisää uusi nide/teos</a></li>
        </ul>
  
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </nav>


  {{{body}}}

</body>
</html>


